.places__image {
  grid-area: image;
  margin: 0;
  width: 100%;
  max-width: 460px;
  object-fit: cover;
  object-position: center;
}

/*от 768 и до 1024 пикселей — от вертикального до горизонтального положения планшета*/
@media (min-width: 768px) and (max-width: 1025px) {
  .places__image {
    max-width: 440px;
  }
}

/*от 425 и до 768 пикселей — от большого смартфона до вертикального положения планшета*/
@media (min-width: 425px) and (max-width: 768px) {
  .places__image {
    max-width: 340px;
  }
}
@media (max-width: 680px) {
  .places__image {
 justify-self: center;
  }
}


/*до 425 пикселей — мобильные устройства.*/
@media (max-width: 320px) {
  .places__image {
    width: 100vw;
  }
}