.header {
  font-family: "Inter", "Arial", sans-serif;
  margin: 0;
  border: none;
  box-sizing: border-box;
  width: 100%;
  max-width: 1184px;
  padding-top: 28px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
/*от 768 и до 1024 пикселей — от вертикального до горизонтального положения планшета*/
@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    max-width: 928px;
  }
}

/*от 425 и до 768 пикселей — от большого смартфона до вертикального положения планшета*/
@media (min-width: 321px) and (max-width: 768px) {
  .header {
    max-width: 720px;
  }
}

/*до 425 пикселей — мобильные устройства.*/
@media (max-width: 320px) {
  .header {
    max-width: 288px;
    padding-top: 16px;
  }
}
