.places__header {
  margin: 0;
  max-width: 460px;
  grid-area: title;
  align-self: flex-start;
}
/*от 425 и до 768 пикселей — от большого смартфона до вертикального положения планшета*/
@media (max-width: 768px) {
  .places__header {
    max-width: 340px;
  }
}
@media (max-width: 325px) {
  .places__header {
   max-width: 288px;
  }
}
