.footer__link {
  padding: 0;
  text-decoration: none;
  color: inherit;
  transition: opacity ease-in-out 0.25s;
}
@media (min-width: 425px) {
.footer__link:not(:first-child) {
  padding-left: 18px;
}
}
.footer__link:hover {
  opacity: 0.8;
}
@media (max-width: 425px) {
.footer__link {
  padding-left: 0;
  padding-bottom: 32px;
}  
}