.footer__link {
  
  text-decoration: none;
  color: inherit;
  transition: opacity ease-in-out 0.25s;
}
.footer__link:hover {
  opacity: 0.8;
}
@media (min-width: 425px) {
  .footer__link:not(first-child) {
    padding-right: 18px;
  }
  
}