.footer__link {
  text-decoration: none;
  color: inherit;
  transition: opacity ease-in-out 0.25s;
  width: fit-content;
}
.footer__link:hover {
  opacity: 0.8;
}
@media (min-width: 425px) {
  .footer__link:not(first-child) {
    margin-right: 19px;
    margin-top: 2px;
  }
}
