.lead__title {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.2;
}

/*от 1024 и до 1280 — для небольших ноутбуков*/
@media (min-width: 1024px) and (max-width: 1280px) {
  .lead__title {
    max-width: calc(720 / 1184 * 100%);
  }
}

/*от 768 и до 1024 пикселей — от вертикального до горизонтального положения планшета*/
@media (min-width: 768px) and (max-width: 1024px) {
  .lead__title {
    max-width: calc(720 / 928 * 100%);
  }
}

/*от 425 и до 768 пикселей — от большого смартфона до вертикального положения планшета*/
@media (min-width: 425px) and (max-width: 767.8px) {
  .lead__title {
    max-width: calc(100vw - 48px);
    font-size: calc(40px + 56 * (100vw / 1280));
  }
}

/*до 425 пикселей — мобильные устройства.*/
@media (max-width: 425px) {
  .lead__title {
    max-width: 100%;
    font-size: 40px;
  }
}
