.footer__links {
  display: flex;
  font-weight: 400;
}

@media (min-width: 726px) {
  .footer__links {
    font-size: 18px;
  }
}
@media (max-width: 625px) {
  .footer__links {
    flex-direction: column;
    font-size: 24px;
    line-height: 1;
  }
}
