.footer__copyright {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

@media (max-width: 625px) {
  .footer__copyright {
    margin-top: 48px;
    align-items: end;
  }
}
