.intro {
  font-family: "Inter", "Arial", sans-serif;
  max-width: 100%;
  padding: 0;
  margin: 92px 148px 0 148px;
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: flex-start;
}
@media (max-width: 1024px) {
  .intro {
    margin: 92px 48px 0 48px;
  }
}
@media (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin: 88px 24px 0 24px;
  }
}
@media (max-width: 768px) {
.intro {
  max-width: 690px;
}
}
@media (max-width: 425px) {
  .intro {
    max-width: 288px;
    margin: 64px 16px 0 16px;
  }
}
