.places__website {
  padding: 0;
  margin-bottom: -2px;
  grid-area: website;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 1.22;
  font-size: 18px;
  color: var(--white);
  transition: opacity ease-in-out 0.25s;
  text-decoration: none;
  width: fit-content;
  border-bottom: #aaaaaa 1px solid;
  max-height: fit-content;
}

.places__website:hover {
  opacity: 0.8;
}

.places__website::before {
  font-family: inherit;
  content: "url";
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  margin-bottom: 12px;
  color: #aaaaaa;
  max-height: fit-content;
  max-width: fit-content;
}

@media (max-width: 425px) {
  .places__website {
    margin: 0 16px;
  }
}