.places__website {
  padding: 0;
  margin-bottom: -2px;
  grid-area: website;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 1.22;
  font-size: 18px;
  color: var(--white);
  transition: opacity ease-in-out 0.25s;
  text-decoration: none;
  width: fit-content;
  border-bottom: #aaaaaa 1px solid;
}
.places__website:hover {
  opacity: 0.6;
}
.places__website::before {
  font-family: inherit;
  content: "url";
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  margin-bottom: 12px;
  color: #aaaaaa;
}